<header>
	<div class="heading">
		<h1>University Student Database</h1>
	</div>
		<div class = "navBar" >
			<a href="/">Home</a>
			<a href="/students">Students</a>
			<a href="/majors">Majors</a>
			<a href="/classes">Classes</a>
			<a href="/dorms">Dorms</a>
			<a href="/registration">Registration</a>
		</div>
</header>
