<header>
	<div class="heading">
		<h1>University Student Database</h1>
	</div>
		<div class = "navBar" >
			<a href="/">Home</a></li>
			<a href="/students">Students</a></li>
			<a href="/majors">Majors</a></li>
			<a href="/classes">Classes</a></li>
			<a href="/dorms">Dorms</a></li>
			<a href="/registration">Registration</a></li>
		</div>
</header>
