<header>
	<nav class="navBar">
			<a href="/">Home</a>
			<a href="/students">Students</a>
			<a href="/majors">Majors</a>
			<a href="/classes">Classes</a>
			<a href="/dorms">Dorms</a>
			<a href="/registrations">Registrations</a>
			<a href="/seach-schedules">Search Schedules</a>
</header>

<section>

<div class = "table">
	<form id="search-schedules-form" action="/search-schedules" method="post"></form>
     <div class = "header">
        <h3>Search for Student Class Schedule:</h3>
        </div>
        <table>
            <tr>
				<td>Student: </td>
				<td><select id="reg_student_id" name="reg_student_id"> 
        			{{#each searchRegistrations}}
        			<option value="{{reg_student_id}}">{{reg_student_id}}, {{student_fname}} {{student_lname}}</option>
        			{{/each}}
    				</select>
				</td>
            </tr>
            <tr>
                <td><input type="button" id="Submit" value="Submit"></td>
            </tr>
        </table>
    </form>
<br>
</section>